// 700
@font-face {
    font-family: Avenir;
    src: url(../Assets/Font/AvenirNextLTPro-Bold.otf);
    src: url(../Assets/Font/AvenirNextLTPro-Demi.otf);
    src: url(../Assets/Font/AvenirNextLTPro-Regular.otf);

}

//default 
html {
    font-family: Arial, Helvetica, sans-serif;
}