@font-face {
  font-family: Avenir;
  src: url(../Assets/Font/AvenirNextLTPro-Bold.otf);
  src: url(../Assets/Font/AvenirNextLTPro-Demi.otf);
  src: url(../Assets/Font/AvenirNextLTPro-Regular.otf);
}
html {
  font-family: Arial, Helvetica, sans-serif;
}

HTML,
body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  height: auto;
  font-family: Avenir, Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
li,
a {
  list-style: none;
  padding: 0;
  text-decoration: none;
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  font-family: Avenir;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: Avenir;
  margin: 0;
}

h3 {
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-family: Avenir;
  margin: 0;
  padding: 1rem 1rem;
}

p {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-family: Avenir;
  margin: 0;
  padding: 0rem 1rem;
}

img {
  display: block;
  width: 100%;
}
@media (min-width: 48rem) {
  img {
    margin: 0;
    padding: 0;
  }
}

.main-nav {
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: #323232;
  border-bottom: 1px solid #F2F2F2;
  padding: 1rem 0;
  font-family: Avenir;
}
.main-nav__logo {
  margin-left: 5%;
  padding-top: 1em;
}
.main-nav__img {
  display: block;
  height: 2em;
}
.main-nav__section {
  margin: 1.5em 0 0 5%;
}
.main-nav__item {
  display: inline-block;
  padding: 0 1.4em 0 0;
  font-size: 1.5rem;
}
.main-nav__link {
  color: #afafaf;
  display: flex;
}
.main-nav__link:hover {
  color: #fff;
  border-bottom: 3px solid #fff;
  font-weight: 300;
}

@media screen and (min-width: 48rem) {
  .main-nav {
    flex-direction: row;
    justify-content: space-between;
  }
  .main-nav__logo {
    margin-left: 2.3em;
  }
  .main-nav__list {
    align-self: center;
    margin: 0 0.8em 0 0;
  }
  .main-nav__section {
    position: absolute;
    left: 25%;
    top: 0px;
  }
  .main-nav__img {
    height: 2em;
  }
}
@media screen and (min-width: 80rem) {
  .main-nav {
    flex-direction: row;
    justify-content: space-between;
  }
  .main-nav__logo {
    margin-left: 5em;
  }
  .main-nav__list {
    align-self: center;
    margin: 0 0.8em 0 0;
  }
  .main-nav__section {
    position: absolute;
    left: 25%;
    top: 0px;
  }
  .main-nav__img {
    height: 2em;
  }
}
#landing__image {
  background: url("../Assets/Images/hero-bio.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 58vw;
}

.landing__overlay {
  position: relative;
  background-color: #323232;
  height: 58vw;
  opacity: 50%;
}

.landing__title {
  position: absolute;
  justify-content: center;
  top: 4.8rem;
  color: #fff;
  padding-left: 1rem;
  z-index: 2;
}
@media (min-width: 48rem) {
  .landing__title {
    position: absolute;
    top: 14rem;
    font-size: 3rem;
    padding-left: 2.25rem;
  }
}

.main__heading {
  padding-top: 1rem;
  padding-left: 1rem;
  color: #323232;
}
.main__figure {
  padding-bottom: 0.5rem;
}
.main__img {
  padding: 0 1em;
}
.main__quotes {
  font-family: Avenir;
  color: black;
  font-weight: 700;
}
@media (min-width: 48rem) {
  .main__heading {
    padding: 2rem 2rem;
  }
  .main__img {
    width: 100%;
    padding: 0 5rem;
    padding-bottom: 2em;
  }
  .main__bio {
    align-items: center;
    justify-content: center;
  }
  .main__quotes {
    text-align: left;
    font-size: large;
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .main__teddy {
    text-align: left;
    font-size: large;
    padding-left: 4rem;
  }
  .main__title {
    padding-left: 5rem;
    font-size: large;
  }
  .main__copy {
    -moz-column-count: 2;
         column-count: 2;
    padding: 0 5rem;
  }
}
@media (min-width: 80rem) {
  .main__heading {
    padding: 2rem 2rem;
  }
  .main__img {
    width: 100%;
    padding: 0 7rem;
    padding-bottom: 2em;
  }
  .main__bio {
    align-items: center;
  }
  .main__quotes {
    flex-direction: column;
    text-align: left;
    font-size: large;
    padding-left: 6rem;
    padding-right: 4rem;
    -moz-column-count: 2;
         column-count: 2;
    line-height: 2rem;
  }
  .main__teddy {
    flex-direction: column;
    text-align: left;
    font-size: large;
    padding-left: 6rem;
    padding-top: 1rem;
  }
  .main__title {
    padding-left: 6rem;
    padding-top: 2rem;
    font-size: large;
  }
  .main__copy {
    -moz-column-count: 2;
         column-count: 2;
    padding: 0 6rem;
  }
}

.gallery__title {
  padding-top: 1.5rem;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  color: black;
  font-family: Avenir;
  font-weight: 700;
  background-color: #fafafa;
}
.gallery__cards {
  background-color: #fafafa;
  padding-top: 1rem;
}
@media (min-width: 48rem) {
  .gallery__cards {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
  }
}
.gallery__item {
  padding: 0 1rem;
  margin: 1rem 0;
}
@media (min-width: 48rem) {
  .gallery__item {
    padding: -2rem;
  }
}
.gallery__item:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}
.gallery__last-img {
  padding-bottom: 0.5rem;
}
@media (min-width: 48rem) {
  .gallery__title {
    padding-left: 2rem;
  }
  .gallery__cards {
    padding: 0 1rem;
  }
}
@media (min-width: 80rem) {
  .gallery__title {
    padding: 0 5rem;
    padding-top: 1rem;
  }
  .gallery__cards {
    padding: 0 4rem;
  }
}

.comment {
  font-family: Avenir;
  width: 100%;
  border: 1px solid #ccc;
}
.comment__title {
  text-align: left;
  font-size: 28px;
  color: #323232;
}
.comment__img {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  position: absolute;
  margin-left: 1.3rem;
}
.comment__form {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  padding-left: 9rem;
  width: 100%;
}
.comment input,
.comment textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  outline: none;
  font-size: 18px;
  border: 1px solid #ddd;
  color: #323232;
}
.comment button {
  width: 100%;
  margin: 10px 0;
  border: none;
  background-color: #323232;
  padding: 10px;
  font-size: 18px;
  border-radius: 3px;
  color: #fff;
}
.comment button:hover {
  color: #fff;
  background-color: lightslategrey;
}
@media (min-width: 48rem) {
  .comment {
    padding: auto;
  }
  .comment__form {
    display: flex;
  }
}
@media (min-width: 80rem) {
  .comment {
    padding: 0 8rem;
  }
}

.history {
  padding-bottom: 2rem;
}
.history__block {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 1rem 0;
}
.history__profile {
  width: 20px;
  height: 20px;
  background-color: #afafaf;
  border-radius: 50%;
}
.history__date {
  position: absolute;
  left: 70%;
}
@media (min-width: 48rem) {
  .history {
    padding: auto;
    margin: 0 3rem;
    margin-left: 10rem;
  }
}
@media (min-width: 80rem) {
  .history {
    padding: 0 10rem;
    padding-left: 8rem;
  }
}

.footer {
  background-color: #323232;
  color: #fff;
}
.footer__title {
  flex-direction: column;
  padding-top: 1rem;
}
.footer__heading {
  font-weight: 700;
  font-size: 2rem;
}
.footer__link {
  display: inline-block;
  padding-left: 1rem;
}
.footer__logo {
  width: 12rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}
.footer__copyright {
  padding-bottom: 1rem;
}
.footer__name {
  padding: 1rem 0rem;
}
.footer__email {
  padding: 1rem 0rem;
}

@media (min-width: 48rem) {
  .footer {
    background-color: #323232;
  }
  .footer__title {
    flex-direction: row;
    display: flex;
    padding-top: 1rem;
  }
  .footer__link {
    padding: 0 0.5rem;
  }
  .footer__heading {
    width: 30%;
  }
  .footer__socials {
    position: absolute;
    left: 15rem;
  }
  .footer__name {
    display: flex;
    flex-direction: column;
  }
  .footer__main {
    display: flex;
    flex-direction: row;
  }
  .footer__logo {
    position: absolute;
    left: 74%;
  }
  .footer__imgs {
    position: relative;
    bottom: 4em;
  }
}
@media (min-width: 80rem) {
  .footer {
    background-color: #323232;
  }
  .footer__title {
    flex-direction: row;
    display: flex;
    padding-top: 2rem;
    padding-left: 2rem;
  }
  .footer__link {
    padding: 0 0.5rem;
  }
  .footer__heading {
    width: 30%;
  }
  .footer__socials {
    position: absolute;
    left: 17rem;
  }
  .footer__name {
    display: flex;
    flex-direction: column;
  }
  .footer__main {
    display: flex;
    flex-direction: row;
    padding-left: 2rem;
  }
  .footer__copyright {
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
  .footer__logo {
    position: absolute;
    left: 74%;
  }
  .footer__imgs {
    position: relative;
    bottom: 4em;
  }
}/*# sourceMappingURL=bio.css.map */