// Setting the page font

@font-face {
    font-family: Avenir;
    src: url(../Assets/Font/AvenirNextLTPro-Bold.otf),
        url(../Assets/Font/AvenirNextLTPro-Demi.otf),
        url(../Assets/Font/AvenirNextLTPro-Regular.otf);
}

html {
    font-family: Avenir;

}

// Reset page spacing
HTML,
body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: auto;
}

// Reset Rule
*,
*::before,
*::after {
    box-sizing: border-box;
}

//lists
ul,
li,
a {
    list-style: none;
    padding: 0;
}

// Page Header
h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}

// Section Header
h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    margin: 0;
}

// Subheader
h3 {
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight: 600;
}

//Body Copy
p {
    font-size: 0.813rem;
    line-height: 1.125rem;
    font-weight: 400;
    margin: 0;
}

//Images
img {
    display: block;
    width: 100%;
    padding: 1rem 0rem;
}

// Nav
.nav {
    background-color: #323232;
    color: #ffffff;
}

.nav h1 {
    text-align: center;
    padding-top: 1rem;
}

.nav li {
    display: inline-block;
    text-align: center;
    padding: 0rem 2.3rem;
    padding-bottom: 1rem;
}




//Main
main {
    max-width: 90%;
    margin: auto;
}

.landing {
    background-color: #fff;
}

.landing__about-text {
    padding-top: 1.5rem;
}


// Main Flower Img
#landing__image {
    background: url(../Assets/Images/hero-bio.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    flex: 0 1 60vw;
    margin: 0;
    opacity: 50%;
    // background-color: #323232

}

.title {
    position: relative;
    justify-content: center;
    top: 13rem;
    color: #fff;
    background-color: black;
    padding-left: 1rem;
}



// Footer
.footer {
    background-color: #323232;
    color: #ffffff;
    padding: 1rem 1rem;
}

.footer img {
    display: inline-block;
    height: 1.7rem;
}

.footer li {
    display: inline-block;
    padding: 0rem 1rem;
    position: relative;
    right: 1rem;

}