@use "./partials/mixins" as *;
@use "./partials/typography" as *;
// Setting the page font


// Reset page spacing
HTML,
body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: auto;
    font-family: Avenir, Arial, Helvetica, sans-serif;
}

// Reset Rule
*,
*::before,
*::after {
    box-sizing: border-box;
}

//lists
ul,
li,
a {
    list-style: none;
    padding: 0;
    text-decoration: none;

}

// Page Header
h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    font-family: Avenir;
    text-transform: uppercase;
    margin: 0;
}

// Section Header
h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: Avenir;
    margin: 0;
}

// Subheader
h3 {
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-family: Avenir;
    margin: 0;
    padding: 1rem 1rem;
}

//Body Copy
p {
    font-size: 0.813rem;
    line-height: 1.125rem;
    font-family: Avenir;
    margin: 0;
    padding: 0rem 1rem;
}

//Images
img {
    display: block;
    width: 100%;
    // padding: 0.5rem 1rem;

    @include tablet {
        margin: 0;
        padding: 0;
    }
}

// Nav
.main-nav {
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: #323232;
    border-bottom: 1px solid #F2F2F2;
    padding: 1rem 0;
    font-family: Avenir;

    &__logo {
        margin-left: 5%;
        padding-top: 1em;
    }

    &__img {
        display: block;
        height: 2em;

    }

    &__section {
        margin: 1.5em 0 0 5%;
    }

    &__item {
        display: inline-block;
        padding: 0 1.4em 0 0;
        font-size: 1.5rem;
    }

    &__link {
        color: #afafaf;
        display: flex;
    }

    &__link {
        &:hover {
            color: #fff;
            border-bottom: 3px solid #fff;
            font-weight: 300;

        }
    }
}


@media screen and (min-width : 48rem) {
    .main-nav {
        flex-direction: row;
        justify-content: space-between;



        &__logo {
            margin-left: 2.3em;
        }

        &__list {
            align-self: center;
            margin: 0 0.8em 0 0;

        }

        &__section {
            position: absolute;
            left: 25%;
            top: 0px;
        }

        &__img {
            height: 2em;
        }
    }
}

//Desktop

@media screen and (min-width : 80rem) {
    .main-nav {
        flex-direction: row;
        justify-content: space-between;



        &__logo {
            margin-left: 5em;
        }

        &__list {
            align-self: center;
            margin: 0 0.8em 0 0;

        }

        &__section {
            position: absolute;
            left: 25%;
            top: 0px;
        }

        &__img {
            height: 2em;
        }
    }
}




//End Nav




// Landing Area

// Main Flower Img
#landing__image {
    background: url("../Assets/Images/hero-bio.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 58vw;
}

//overlay color
.landing__overlay {
    position: relative;
    background-color: #323232;
    height: 58vw;
    opacity: 50%;

}

//Bees knees title
.landing__title {
    position: absolute;
    justify-content: center;
    top: 4.8rem;
    color: #fff;
    padding-left: 1rem;
    z-index: 2;

    @include tablet {
        position: absolute;
        top: 14rem;
        font-size: 3rem;
        padding-left: 2.25rem;
    }
}

// End landing Area

// Main Section

.main {


    &__heading {
        padding-top: 1rem;
        padding-left: 1rem;
        color: #323232;

    }

    //Main Section Img
    &__figure {
        padding-bottom: 0.5rem;

    }

    &__img {
        padding: 0 1em;
    }

    //Main Quotes
    &__quotes {
        font-family: Avenir;
        color: black;
        font-weight: 700;
    }


    //Tablet 
    @media(min-width: 48rem) {

        &__heading {
            padding: 2rem 2rem;
        }

        &__img {
            width: 100%;
            padding: 0 5rem;
            padding-bottom: 2em;
        }

        &__bio {
            align-items: center;
            justify-content: center;
        }

        &__quotes {
            text-align: left;
            font-size: large;
            padding-left: 4rem;
            padding-right: 4rem;

        }

        &__teddy {
            text-align: left;
            font-size: large;
            padding-left: 4rem;

        }

        &__title {
            padding-left: 5rem;
            font-size: large;
        }

        &__copy {
            column-count: 2;
            padding: 0 5rem;
        }
    }

    //Desktop 
    @media(min-width: 80rem) {

        &__heading {
            padding: 2rem 2rem;
        }

        &__img {
            width: 100%;
            padding: 0 7rem;
            padding-bottom: 2em;
        }

        &__bio {
            align-items: center;
        }

        &__quotes {
            flex-direction: column;
            text-align: left;
            font-size: large;
            padding-left: 6rem;
            padding-right: 4rem;
            column-count: 2;
            line-height: 2rem;
        }

        &__teddy {
            flex-direction: column;
            text-align: left;
            font-size: large;
            padding-left: 6rem;
            padding-top: 1rem;
        }

        &__title {
            padding-left: 6rem;
            padding-top: 2rem;
            font-size: large;
        }

        &__copy {
            column-count: 2;
            padding: 0 6rem;
        }
    }

}






// Main Photo Gallery

.gallery {
    &__title {
        padding-top: 1.5rem;
        padding-left: 1rem;
        padding-bottom: 0.5rem;
        color: black;
        font-family: Avenir;
        font-weight: 700;
        background-color: #fafafa;
    }

    &__cards {
        background-color: #fafafa;
        padding-top: 1rem;

        @include tablet {
            grid-template-columns: repeat(3, 1fr);
            display: grid;
        }
    }

    &__item {
        padding: 0 1rem;
        margin: 1rem 0;

        @include tablet {
            // display: grid;
            padding: -2rem;
        }
    }

    &__item:hover {
        transform: translateY(-0.5%);
        box-shadow: 0 4rem 8rem rgb(0, 0, 0, 0.5);

    }

    &__last-img {
        padding-bottom: 0.5rem;
    }

    //Tablet 
    @media(min-width: 48rem) {
        &__title {
            padding-left: 2rem;
        }

        &__cards {
            padding: 0 1rem;
        }
    }

    //Desktop 
    @media(min-width: 80rem) {
        &__title {
            padding: 0 5rem;
            padding-top: 1rem;
        }

        &__cards {
            padding: 0 4rem;
        }


    }


}

// Comments Section
.comment {
    font-family: Avenir;
    width: 100%;
    border: 1px solid #ccc;


    &__title {
        text-align: left;
        font-size: 28px;
        color: #323232;

    }

    &__img {
        width: 5em;
        height: 5em;
        border-radius: 50%;
        position: absolute;
        margin-left: 1.3rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
        padding: 0 2rem;
        padding-left: 9rem;
        width: 100%;
    }

    & input,
    textarea {
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        box-sizing: border-box;
        outline: none;
        font-size: 18px;
        border: 1px solid #ddd;
        color: #323232;
    }

    button {
        width: 100%;
        margin: 10px 0;
        border: none;
        background-color: #323232;
        padding: 10px;
        font-size: 18px;
        border-radius: 3px;
        color: #fff;

        &:hover {
            color: #fff;
            background-color: lightslategrey;
        }
    }

    // Tablet
    @media(min-width: 48rem) {
        padding: auto;

        &__form {
            display: flex;
        }
    }

    // Desktop
    @media(min-width: 80rem) {
        padding: 0 8rem;
    }

}

//History Section

.history {
    padding-bottom: 2rem;

    &__block {
        display: flex;
        flex-direction: column;
        border: 1px solid #ccc;
        padding: 1rem 0;
    }

    &__profile {
        width: 20px;
        height: 20px;
        background-color: #afafaf;
        border-radius: 50%;
        // margin-left: 2rem;
    }

    &__date {
        position: absolute;
        left: 70%;

    }

    // Tablet
    @media(min-width: 48rem) {
        padding: auto;
        margin: 0 3rem;
        margin-left: 10rem;
    }

    // Desktop
    @media(min-width: 80rem) {
        padding: 0 10rem;
        padding-left: 8rem;
    }


}




//History Section End


// End Comments Section










//footer

.footer {
    background-color: #323232;
    color: #fff;

    &__title {
        flex-direction: column;
        padding-top: 1rem;
    }

    &__heading {
        font-weight: 700;
        font-size: 2rem;

    }


    &__link {
        display: inline-block;
        padding-left: 1rem;
    }

    &__logo {
        width: 12rem;
        padding-top: 2rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
    }

    &__copyright {
        padding-bottom: 1rem;
    }

    &__name {
        padding: 1rem 0rem;
    }

    &__email {
        padding: 1rem 0rem;
    }

}

//responsive 

//Tablet

@media(min-width: 48rem) {
    .footer {
        background-color: #323232;

        &__title {
            flex-direction: row;
            display: flex;
            padding-top: 1rem;


        }

        &__link {
            padding: 0 0.5rem;

        }

        &__heading {
            width: 30%;
        }

        &__socials {
            position: absolute;
            left: 15rem;
        }


        &__name {
            display: flex;
            flex-direction: column;
        }

        &__main {
            display: flex;
            flex-direction: row;

        }

        &__logo {
            position: absolute;
            left: 74%;
        }

        &__imgs {
            position: relative;
            bottom: 4em;
        }
    }
}

//Desktop

@media(min-width: 80rem) {
    .footer {
        background-color: #323232;

        &__title {
            flex-direction: row;
            display: flex;
            padding-top: 2rem;
            padding-left: 2rem;


        }

        &__link {
            padding: 0 0.5rem;

        }

        &__heading {
            width: 30%;
        }

        &__socials {
            position: absolute;
            left: 17rem;
        }


        &__name {
            display: flex;
            flex-direction: column;
        }

        &__main {
            display: flex;
            flex-direction: row;
            padding-left: 2rem;
        }

        &__copyright {
            padding-left: 2rem;
            padding-top: 1rem;
            padding-bottom: 2rem;

        }

        &__logo {
            position: absolute;
            left: 74%;
        }

        &__imgs {
            position: relative;
            bottom: 4em;
        }
    }
}



//End Footer